@import "https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap";

.selected-tweet {
  border-right: 3px solid #a45ee5 !important;
}

.create-snippet-btn-container {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  width: 35px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  height: "100%";
  right: -35px;
}

.create-snippet-btn-container button {
  background: #a45ee5;
  transform: translateX(-35px);
  transition-duration: 0.25s;
  width: 35px;
  height: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 0;
  border-radius: 0 4px 4px 0;
}
.create-snippet-btn-container button:hover {
  background: #52168b;
}
article:hover + .create-snippet-btn-container button {
  transform: translateX(0px);
}
.create-snippet-btn-container button:hover {
  transform: translateX(0px);
}

.change-snippet-selection-container {
  position: absolute;
  width: 35px;
  right: -38px;
  height: 70px;
  display: flex;
  flex-direction: column;
}
.change-snippet-selection-container-first {
  top: -35px;
}
.change-snippet-selection-container-last {
  bottom: -35px;
}

.change-snippet-selection-container button {
  background: rgba(255, 255, 255, 0);
  transition-duration: 0.25s;
  border: 0;
  padding: 0;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.change-snippet-selection-container button svg {
  filter: invert(42%) sepia(98%) saturate(3141%) hue-rotate(246deg)
    brightness(101%) contrast(80%);
}
.change-snippet-selection-container button:hover {
  background: rgba(255, 255, 255, 0.2);
}
.change-snippet-selection-button-up {
  border-radius: 4px 4px 0 0;
}
.change-snippet-selection-button-down {
  border-radius: 0 0 4px 4px;
  margin-top: auto;
}

.snippet-confirm-cancel {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 4px;
  padding: 15px 20px;
  background: rgb(35, 35, 35);
  box-shadow: rgb(0 0 0 / 20%) 0px 5px 5px -3px,
    rgb(0 0 0 / 14%) 0px 8px 10px 1px, rgb(0 0 0 / 12%) 0px 3px 14px 2px;
}
.snippet-confirm-cancel p {
  font-family: "Roboto", sans-serif;
  color: #eee;
  font-size: 22px;
  margin: 0;
  margin-bottom: 15px;
}
.snippet-confirm-cancel button {
  padding: 8px 22px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  transition-duration: 0.25s;
  border-radius: 4px;
  line-height: 1.75;
}

.snippet-cancel-button {
  border-width: 0;
  color: #a45ee5;
  background: rgba(255, 255, 255, 0);
}
.snippet-cancel-button:hover {
  background: rgba(255, 255, 255, 0.2);
  text-decoration: underline;
}

.snippet-confirm-button {
  border-width: 0;
  color: #eee;
  background: #a45ee5;
  margin-left: 5px;
}
.snippet-confirm-button:hover {
  background: #52168b;
}

.snippet-cancel-button:disabled,
.snippet-confirm-button:disabled {
  cursor: default;
  text-decoration: none;
}
.snippet-cancel-button:disabled {
  color: #aaa;
  background: rgba(255, 255, 255, 0);
}
.snippet-confirm-button:disabled {
  background: #aaa;
}
